.advantages {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: $font-base;
  color: $advantages-text__color;
  background-color: $advantages-bg__color;
}

.advantages__wrapper {
  width: 320px;
  margin: 0 auto;
}

.advantages__title {
  padding: 0;
  padding-top: 34px;
  padding-bottom: 22px;
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.advantages__list {
  position: relative;
  padding: 0;
  margin: 0;
}

.advantages__item {
  position: relative;
  padding: 0 25px;
  padding-top: 100px;
  margin: 0 auto;
  display: none;
  width: 280px;
}

.advantages__item--fast {
  display: flex;
  flex-direction: column;

  &::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 90px;
    width: 95px;
    height: 95px;
    background-image: url(../img/ico/fast.svg);
    background-repeat: no-repeat;
    background-size: 95px 95px;
    background-position: 50% 50%;
  }
}

.advantages__item--cool {

  &::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 90px;
    width: 95px;
    height: 95px;
    background-image: url(../img/ico/chair.svg);
    background-repeat: no-repeat;
    background-size: 95px 95px;
    background-position: 50% 50%;
  }
}

.advantages__item--price {

  &::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 90px;
    width: 95px;
    height: 95px;
    background-image: url(../img/ico/lighthouse.svg);
    background-repeat: no-repeat;
    background-size: 95px 95px;
    background-position: 50% 50%;
  }
}

.advantages__description {
  padding: 0;
  padding-bottom: 25px;
  margin: 0;
  text-align: center;
  font-size: 20px;
  line-height: 27px;
}

.adventages__toggles {
  display: flex;
  padding: 0 20px;
  padding-bottom: 10px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {

  .advantages__wrapper {
    width: 768px;
    margin: 0 auto;
  }

  .advantages__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 640px;
    padding-left: 160px;
    padding-right: 35px;
    padding-top: 45px;
    padding-bottom: 40px;
    margin: 0;
    border-bottom: 1px solid #4a4a4a;
  }

  .advantages__item--fast {

    &::before {
      top: 85px;
      left: 40px;
    }
  }

  .advantages__item--cool {

    &::before {
      top: 85px;
      left: 40px;
    }
  }

  .advantages__item--price {
    border: none;

    &::before {
      top: 85px;
      left: 40px;
    }
  }

  .advantages__description {
    text-align: start;
  }

  .adventages__toggles {
    display: none;
  }

}

@media (min-width: $desctop-width) {

  .advantages__wrapper {
    width: 960px;
  }

  .advantages__list {
    display: flex;
    flex-direction: row;
  }

  .advantages__item {
    width: 320px;
    padding: 170px 40px 40px 40px;
    text-align: center;
    border: none;
  }

  .advantages__item--fast {

    &::before {
      top: 75px;
      left: 50%;
      margin-left: -44px;
    }
  }

  .advantages__item--cool {

    &::before {
      top: 75px;
      left: 50%;
      margin-left: -44px;
    }
  }

  .advantages__item--price {
    border: none;

    &::before {
      top: 75px;
      left: 50%;
      margin-left: -44px;
    }
  }

  .advantages__title {
    padding-bottom: 20px;
    margin: 0 auto;
  }

}
