.advantages {
  padding: 0;
  margin: 0;
  font-family: $font-base;
  color: $advantages-text__color;
  background-color: $advantages-bg__color;
}

.advantages__title {
  padding: 0;
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

.advantages__list {
padding: 0;
margin: 0;
}

.advantages__description {
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 27px;
}

.adventages__toggles {
  padding: 0;
  margin: 0;
}
