.news {
  padding: 0px;
  margin: 0px;
  font-family: $font-base;
  font-size: 18px;
  line-height: 27px;
  color: $text__color--black;
  background-color: $news-bg__color;
}

.news__title {
  padding: 0;
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

.news__list {
  padding: 0;
  margin: 0;
}

.news__item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.news__date {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  color: $news-date-text__color;
  background-color: $news-date-bg__color;
}

.news__text {
  padding: 0;
  margin: 0;
}

.news__day {
  padding: 0;
  margin: 0;
  font-size: 30px;
  line-height: 30px;
}

.news__to-all {
  display: block;
  width: 280px;
  heidht: 50px;
  padding: 0;
  margin: 0;
  font-family: $font-base;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: $text__color--black;
  background-color: $w-button-bg__color;
  border: 1px solid $w-button-border__color;
  text-align: center;
}
