.price {
  font-family: $font-base;
  color: $text__color--white;
  background-color: $price-bg__color;
}

.price__title {
  padding: 0;
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.price__discount {
  padding: 0;
  margin: 0;
  border: 1px solid $discount-border__color;
}

.discount__text {
  padding: 0;
  margin: 0;
}
