.stats {
  width: 320px;
  margin: 0 auto;
  font-family: $font-base;
  background-color: #333333;
}

.stats__header {
  padding: 30px 40px 25px 40px;
}

.stats__slogan {
  padding: 0;
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: $text__color--black;
}

.stats__intro {
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 27px;
  color: $text__color--black;
}

.stats__legend {
  font-size: 20px;
  line-height: 27px;
  color: $text-color--lightgrey;
}

.stats__list {
  width: 100%;
  color: $text__color--white;
}

.stats__value {
  font-size: 40px;
  line-height: 40px;
}

.stats__field {
  font-size: 18px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {

  .stats {
    width: 640px;
    margin-top: -185px;
  }

  .stats__list {
    display: flex;
  }

}

@media (min-width: $desctop-width) {

  .stats {
    display: flex;
    widht: 960px;
    margin-top: -160px;
  }

  .stats__header {
    width: 240px;
  }

  .stats__list {
    width: 640px;
  }

}
