.user-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.user-list__item {
  background-color: #6a3d38;
}

.user-list__item--active {
  background-color: $m-nav-bg__color--active;
}

.user-list__login {
  position: relative;
  display: block;
  padding: 17px 21px;
  padding-left: 49px;

  font-family: $font-base;
  font-size: 18px;
  line-height: 24px;
  color: $text__color--white;
  text-decoration: none;
}

.user-list__login-icon {
  position: absolute;
  top: 20px;
  left: 21px;
  width: 16px;
  height: 16px;
  opacity: 0.3;

  polygon {
    fill: #ffffff;
  }
}

@media (min-width: $tablet-width) {

  .user-list {
    width: 60px;
  }

}


@media (min-width: $desctop-width) {

  .user-list {
    width: 160px;
  }

}
