.works {
  padding: 0;
  margin: 0 auto;
  font-size: 18px;
  line-height: 27px;
  font-family: $font-base;
  color: $text__color--black;
  background-color: $works-bg__color;
}

.works__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 30px 20px 35px 20px;
}

.works__title {
  padding: 30px 0;
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.works__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.works__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-bottom: 30px;
  margin: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5ddd5;
}

.works__work-of-month {
  position: absolute;
  top: 400px;
  left: 0;
  width: 166px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: $text__color--white;
  background-color: $works-label-bg__color;

  &::after {
    content: '';
    position: absolute;
    right: -10px;
    border: 10px solid $works-label-bg__color;
    border-top: 25px solid $works-label-bg__color;
    border-bottom: 25px solid $works-label-bg__color;
    border-right: 10px solid transparent;
  }
}

.works__name {
  padding: 20px 25px 10px;
  margin: 0;
  font-size: 24px;
  line-height: 27px;
  font-weight: bold;
}

.works__about-customers {
  padding: 0 25px;
  padding-bottom: 20px;
  margin: 0;
}

.works__block-servises {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  padding-left: 25px;
  margin: 0;
  list-style: none;
}

.works__servis {
  position: relative;
  width: 50%;
  padding-top: 10px;
  padding-left: 50px;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
}

.works__servis--haircut {

  &::before {
    content: '';
    position: absolute;
    left: 0;
    width: 50px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url("../../img/ico/scissors.svg");
    background-size: 21px 20px;
    background-position: 50% 50%;
  }
}

.works__servis--shaving,
.works__servis--beard {

  &::before {
    content: '';
    position: absolute;
    left: 0;
    width: 50px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url("../../img/ico/little-beard.svg");
    background-size: 23px 21px;
    background-position: 50% 50%;
  }
}

.works__servis--mustache {

  &::before {
    content: '';
    position: absolute;
    left: 0;
    width: 50px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url("../../img/ico/mustache.svg");
    background-size: 45px 12px;
    background-position: 50% 50%;
  }
}

@media (min-width: $tablet-width) {

  .works {
    padding-top: 30px;
  }

  .works__wrapper {
    position: relative;
    width: 768px;
    margin: 0 auto;
    padding: 0 64px 60px;
  }

  .works__title {
    padding-bottom: 50px;
    text-align: left;
    font-size: 40px;
    line-height: 40px;
  }

  .works__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0;
    border: 1px solid #e5ddd5;
  }

  .works__work-of-month {
    top: 35px;
    left: 0;
  }

  .works__info {
    display: flex;
    flex-direction: column;
    width: 320px;
  }

  .works__name {
    padding: 0;
    padding-top: 45px;
    padding-bottom: 25px;
  }

  .works__about-customers {
    padding-left: 0;
    padding-right: 45px;
  }

  .works__block-servises {
    margin-top: auto;
    padding-left: 0;
    padding-bottom: 35px;
  }

}

@media (min-width: $desctop-width) {

  .works__wrapper {
    width: 1088px;
    margin: 0 auto;
    padding: 0 64px 60px;
  }

  .works__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .works__item {
    flex-direction: column;
    width: 295px;
    margin-bottom: 0;
  }

  .works__work-of-month {
    top: 30px;
    right: 0;
    left: auto;

    &::after {
      content: '';
      position: absolute;
      right: auto;
      left: -10px;
      border: 10px solid $works-label-bg__color;
      border-top: 25px solid $works-label-bg__color;
      border-bottom: 25px solid $works-label-bg__color;
      border-left: 10px solid transparent;
      border-right: 10px solid $works-label-bg__color;
    }
  }

  .works__info {
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  .works__name {
    padding-top: 30px;
  }

  .works__about-customers {
    min-height: 120px;
    padding: 0;
    padding-bottom: 30px;
  }

  .works__item--wide {
    flex-direction: row;
    width: 100%;
    margin-bottom: 40px;

    & .works__info {
      width: 450px;
      padding-left: 10px;
    }

    .works__name {
      padding-top: 130px;
    }

    .works__about-customers {
      padding-right: 140px;
    }

    .works__servis {
      display: block;
      width: 30%;
      justify-content: space-between;
    }
  }

}

//для картинок можно использовать overflow: hedden; и max-width/max-height;
